In [30]:
import numpy as np
import pandas as pd

In [2]:
employee_data=pd.read_csv(r"C:\Users\arnav\OneDrive\Desktop\DATA\employee_data.csv")

insurance_data=pd.read_csv(r"C:\Users\arnav\OneDrive\Desktop\DATA\insurance_data.csv")

vendor_data=pd.read_csv(r"C:\Users\arnav\OneDrive\Desktop\DATA\vendor_data.csv")

In [3]:
employee_data.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,05-06-1993,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,27-12-2005,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,02-09-2003,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,23-09-2004,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,21-06-2011,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [4]:
insurance_data.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,01-06-2020 00:00,TXN00000001,A00003822,PLC00008468,23-06-2015,16-05-2020,21-05-2020,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,01-06-2020 00:00,TXN00000002,A00008149,PLC00009594,21-04-2018,13-05-2020,18-05-2020,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,01-06-2020 00:00,TXN00000003,A00003172,PLC00007969,03-10-2019,21-05-2020,26-05-2020,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,01-06-2020 00:00,TXN00000004,A00007572,PLC00009292,29-11-2016,14-05-2020,19-05-2020,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,01-06-2020 00:00,TXN00000005,A00008173,PLC00000204,26-12-2011,17-05-2020,22-05-2020,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [5]:
vendor_data.head()

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210

In [ ]:
"""
Task 1
Merge the 3 dataset & create 1 view of data. You can merge insurance_data.csv & employee_data.csv on AGENT_ID You can merge 
insurance_data.csv & vendor_data.csv on VENDOR_ID. Note: Use left Outer join as not all claims require Vendor.
"""

In [6]:
m1=pd.merge(insurance_data,employee_data,on='AGENT_ID',how='left',suffixes=('_CUSTOMER','_AGENT'))

view=pd.merge(m1,vendor_data,on='VENDOR_ID',how='left')

In [7]:
view

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_AGENT,POSTAL_CODE_AGENT,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,01-06-2020 00:00,TXN00000001,A00003822,PLC00008468,23-06-2015,16-05-2020,21-05-2020,Health,157.13,9000,...,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,01-06-2020 00:00,TXN00000002,A00008149,PLC00009594,21-04-2018,13-05-2020,18-05-2020,Property,141.71,26000,...,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,01-06-2020 00:00,TXN00000003,A00003172,PLC00007969,03-10-2019,21-05-2020,26-05-2020,Property,157.24,13000,...,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,01-06-2020 00:00,TXN00000004,A00007572,PLC00009292,29-11-2016,14-05-2020,19-05-2020,Health,172.87,16000,...,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,01-06-2020 00:00,TXN00000005,A00008173,PLC00000204,26-12-2011,17-05-2020,22-05-2020,Travel,88.53,3000,...,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,30-06-2021 00:00,TXN00009996,A00006029,PLC00007245,11-04-2014,25-06-2021,26-06-2021,Motor,105.75,1000,...,AR,72703,35413882,LFOJ76068590051807,NaN,NaN,NaN,NaN,NaN,NaN
9996,30-06-2021 00:00,TXN00009997,A00003555,PLC00002590,25-08-2015,12-06-2021,17-06-2021,Life,64.59,67000,...,GA,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0
9997,30-06-2021 00:00,TXN00009998,A00004230,PLC00006613,11-10-2018,18-06-2021,23-06-2021,Health,183.50,8000,...,KY,40272,115241097,WREH18805592939657,Reese-Mckinney,20 Garfield Street,NaN,Needham,MA,2492.0
9998,30-06-2021 00:00,TXN00009999,A00006694,PLC00001781,29-01-2016,16-06-2021,21-06-2021,Motor,113.46,2000,...,AR,72703,13995380,AAZI21883736448048,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0
9999,30-06-2021 00:00,TXN00010000,A00000390,PLC00005197,17-09-2014,21-06-2021,24-06-2021,Mobile,8.22,300,...,OK,73003,39790996,RPES05613584687957,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0

In [ ]:
"""
Task 2
Business Leader wants to find Top 3 Insurance Type where we are getting most insurance claims?
"""

In [8]:
insurance_data.INSURANCE_TYPE.value_counts()[:3]

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

In [ ]:
"""
Task 3
Business Leader wants to find Top 5 States where we are getting most 
insurance claims for customer belonging to HIGH(H) risk segment?
"""

In [9]:
insurance_data[insurance_data['RISK_SEGMENTATION']=='H'].STATE.value_counts()[:5]

CA    148
AZ    105
FL    104
TN    100
AR     97
Name: STATE, dtype: int64

In [ ]:
"""
Task 4
Business wants to create a new variable “COLOCATION” which will have following values 
IF Customer State == Incident State == Agent Address State THEN 1 ELSE 0. Find the mean of this new column"
"""

In [10]:
view['COLOCATION'] = (view['STATE_CUSTOMER']==view['INCIDENT_STATE'])&(view['INCIDENT_STATE']==view['STATE_AGENT'])

In [11]:
view['COLOCATION']=view.COLOCATION.astype('int')

In [12]:
view.COLOCATION.mean()

0.0044

In [ ]:
"""
Task 5
Data entry error was detected in the data and you are required to correct it. If for any claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1
Then Update “AUTHORITY_CONTACTED” to Police.
"""

In [13]:
not_police = view[view['AUTHORITY_CONTACTED']!='Police']

In [14]:
update_rows = not_police[not_police['POLICE_REPORT_AVAILABLE']==1].index

In [15]:
view.loc[update_rows,'AUTHORITY_CONTACTED'] = 'Police'

In [16]:
view[(view['POLICE_REPORT_AVAILABLE']==1)&(view['AUTHORITY_CONTACTED']!='Police')]

Empty DataFrame
Columns: [TXN_DATE_TIME, TRANSACTION_ID, CUSTOMER_ID, POLICY_NUMBER, POLICY_EFF_DT, LOSS_DT, REPORT_DT, INSURANCE_TYPE, PREMIUM_AMOUNT, CLAIM_AMOUNT, CUSTOMER_NAME, ADDRESS_LINE1_CUSTOMER, ADDRESS_LINE2_CUSTOMER, CITY_CUSTOMER, STATE_CUSTOMER, POSTAL_CODE_CUSTOMER, SSN, MARITAL_STATUS, AGE, TENURE, EMPLOYMENT_STATUS, NO_OF_FAMILY_MEMBERS, RISK_SEGMENTATION, HOUSE_TYPE, SOCIAL_CLASS, ROUTING_NUMBER, ACCT_NUMBER, CUSTOMER_EDUCATION_LEVEL, CLAIM_STATUS, INCIDENT_SEVERITY, AUTHORITY_CONTACTED, ANY_INJURY, POLICE_REPORT_AVAILABLE, INCIDENT_STATE, INCIDENT_CITY, INCIDENT_HOUR_OF_THE_DAY, AGENT_ID, VENDOR_ID, AGENT_NAME, DATE_OF_JOINING, ADDRESS_LINE1_AGENT, ADDRESS_LINE2_AGENT, CITY_AGENT, STATE_AGENT, POSTAL_CODE_AGENT, EMP_ROUTING_NUMBER, EMP_ACCT_NUMBER, VENDOR_NAME, ADDRESS_LINE1, ADDRESS_LINE2, CITY, STATE, POSTAL_CODE, COLOCATION]
Index: []

[0 rows x 54 columns]

In [ ]:
"""
Task 6
Business wants to check the Claim Amount for deviation for each transaction, they would like you to calculate as follow
CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)/ CURRENT_CLAIM_AMOUNT
If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0 
If there is less than 30 days of transaction history THEN -1 Note: LAST_30DAYS does not include current day.
"""

In [17]:
view.TXN_DATE_TIME.max()

'31-12-2020 00:00'

In [18]:
current_date = pd.to_datetime('2021-06-30')

In [19]:
view['TXN_DATE_TIME'] = pd.to_datetime(view['TXN_DATE_TIME'])

In [20]:
last_30 = view.loc[(view['TXN_DATE_TIME'] > '2021-05-30') & (view['TXN_DATE_TIME'] < '2021-06-30')]

In [21]:
moderate_claim = last_30.groupby('INSURANCE_TYPE').mean()['CLAIM_AMOUNT'].to_dict()

In [22]:
def Claim_deviation(row):
    if (current_date - row['TXN_DATE_TIME'])<pd.Timedelta(days=30):
        return -1
    claim_deviation = moderate_claim[row['INSURANCE_TYPE']] / row['CLAIM_AMOUNT']
    if claim_deviation < 0.5:
        return 1
    else:
        return 0

In [23]:
view['CLAIM_DEVIATION'] = view.apply(Claim_deviation,axis=1)

In [24]:
view.CLAIM_DEVIATION.value_counts()

 0    8404
-1    1596
Name: CLAIM_DEVIATION, dtype: int64

In [ ]:
#There are 9216 claims with deviation less than 0.5 and 784 claims with transaction history of less than 30 days

In [ ]:
"""
Task 7
Find All Agents who have worked on more than 2 types of Insurance Claims. 
Sort them by Total Claim Amount Approved under them in descending order.
"""

In [25]:
type_count = view.groupby('AGENT_ID')['INSURANCE_TYPE'].nunique()

In [26]:
agent_insurance_types = type_count>2

In [27]:
multi_type_agents = agent_insurance_types[agent_insurance_types].index

In [29]:
Top_agents = view.groupby(['AGENT_ID','AGENT_NAME']).sum().loc[multi_type_agents][['CLAIM_AMOUNT']].sort_values('CLAIM_AMOUNT',ascending=False)

In [31]:
print(Top_agents)

                             CLAIM_AMOUNT
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528800
AGENT00679 Clara Barnett           489000
AGENT00771 Roger Burns             422100
AGENT00125 Salvador Soriano        400400
AGENT00789 Alison Baron            392900
...                                   ...
AGENT00910 Vincent Ragan            15500
AGENT00689 Connie Hunt              13700
AGENT00732 Sylvia Tran              11300
AGENT00706 Laura Staggs             10800
AGENT00604 Thelma Salinas            5500

[1164 rows x 1 columns]

In [32]:
print(Top_agents.join(type_count))

                             CLAIM_AMOUNT  INSURANCE_TYPE
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528800               6
AGENT00679 Clara Barnett           489000               4
AGENT00771 Roger Burns             422100               5
AGENT00125 Salvador Soriano        400400               4
AGENT00789 Alison Baron            392900               4
...                                   ...             ...
AGENT00910 Vincent Ragan            15500               3
AGENT00689 Connie Hunt              13700               3
AGENT00732 Sylvia Tran              11300               3
AGENT00706 Laura Staggs             10800               3
AGENT00604 Thelma Salinas            5500               3

[1164 rows x 2 columns]

In [ ]:
"""
Task 8
Mobile & Travel Insurance premium are discounted by 10%, Health & Property Insurance premium are increased by 7%, Life & Motor Insurance premium are marginally increased by 2%.
What will be overall change in % of the Premium Amount Collected for all these Customer?
"""

In [33]:
premium_collected_early = view['PREMIUM_AMOUNT'].sum()

In [34]:
premium_by_types = view.groupby('INSURANCE_TYPE').sum()['PREMIUM_AMOUNT'].to_dict()

In [35]:
print(premium_by_types)

{'Health': 252455.73, 'Life': 125621.22, 'Mobile': 15191.42, 'Motor': 165391.98, 'Property': 202285.83, 'Travel': 124139.77}

In [37]:
# Mobile & Travel premium (discounted by 10%)
premium_by_types['Mobile']*=0.9
premium_by_types['Travel']*=0.9

# Health and Property premium (increases by 7%)
premium_by_types['Health']*=1.07
premium_by_types['Property']*=1.07

# Life and Motor premium (increased by 2%)
premium_by_types['Life']*=1.02
premium_by_types['Motor']*=1.02

In [38]:
revised_premium = sum(premium_by_types.values())

In [39]:
(revised_premium-premium_collected_early)*100/premium_collected_early

2.6798588543858517

In [40]:
print(premium_collected_early,revised_premium)

885085.95 908805.0042000001

In [ ]:
# Overall change in Premium amount collected is 2.68% approx

In [ ]:
"""
Task 9
Business wants to give discount to customer who are loyal and under stress due to Covid 19. They have laid down an eligibility Criteria as follow
IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N” AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it mean.
"""

In [42]:
disc_status=(view['TENURE']>60)&(view['EMPLOYMENT_STATUS']=='N')&(view['NO_OF_FAMILY_MEMBERS']>=4)

In [43]:
view['ELIGIBLE_FOR_DISCOUNT'] = disc_status.astype('int')

In [44]:
view.ELIGIBLE_FOR_DISCOUNT.mean()

0.0299

In [ ]:
# The mean is (0.0299). This means of total customers (2.99%) are eligible for discount

In [ ]:
"""
Task 10
Business wants to check Claim Velocity which is defined as follow
CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type)/ NO_OF_CLAIMS_IN_LAST3DAYS 
(for the current insurance type) Note: LAST30DAYS & LAST3DAYS does not include current day
"""

In [45]:
print(current_date)

2021-06-30 00:00:00

In [46]:
view['CLAIM_STATUS'].value_counts()

A    9497
D     503
Name: CLAIM_STATUS, dtype: int64

In [47]:
last_3_days = view.loc[(view['TXN_DATE_TIME'] > current_date-pd.Timedelta(days=4)) & (view['TXN_DATE_TIME'] < current_date)]

In [ ]:
# In pd.Timedelta i set days as 4 because it also counts current date of the day.

In [48]:
claims_in_last_30_days=pd.DataFrame.from_dict(last_30[last_30['CLAIM_STATUS']=='A'].groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])

In [49]:
claims_in_last_3_days=pd.DataFrame.from_dict(last_3_days[last_3_days['CLAIM_STATUS']=='A'].groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])

In [52]:
accepted_claims = claims_in_last_30_days.join(claims_in_last_3_days)

In [53]:
accepted_claims['CLAIM_VELOCITY'] = accepted_claims['NO_OF_CLAIMS_IN_LAST30DAYS']/accepted_claims['NO_OF_CLAIMS_IN_LAST3DAYS']

In [54]:
print(accepted_claims)

          NO_OF_CLAIMS_IN_LAST30DAYS  NO_OF_CLAIMS_IN_LAST3DAYS  \
Health                           106                         14
Life                             113                         12
Mobile                            98                          9
Motor                             96                         12
Property                         106                         12
Travel                           101                         14

          CLAIM_VELOCITY
Health          7.571429
Life            9.416667
Mobile         10.888889
Motor           8.000000
Property        8.833333
Travel          7.214286

In [55]:
entire_claims30D = pd.DataFrame.from_dict(last_30.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])

In [56]:
entire_claims3D = pd.DataFrame.from_dict(last_3_days.groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])

In [57]:
add_claims=entire_claims30D.join(entire_claims3D)

In [58]:
add_claims['CLAIM_VELOCITY'] = add_claims['NO_OF_CLAIMS_IN_LAST30DAYS']/add_claims['NO_OF_CLAIMS_IN_LAST3DAYS']

In [59]:
print(add_claims)

          NO_OF_CLAIMS_IN_LAST30DAYS  NO_OF_CLAIMS_IN_LAST3DAYS  \
Health                           114                         14
Life                             120                         14
Mobile                           101                         10
Motor                             99                         13
Property                         113                         13
Travel                           103                         14

          CLAIM_VELOCITY
Health          8.142857
Life            8.571429
Mobile         10.100000
Motor           7.615385
Property        8.692308
Travel          7.357143

In [ ]:
"""
Task 11
Find all low performing agents i.e. employees who are in the bottom 5 percentile based on Claims worked by them.
"""

In [61]:
lower_5percentile_limit = view.groupby('AGENT_ID').sum().quantile(0.05)['CLAIM_AMOUNT']

In [62]:
Agent_grouped_data = view.groupby('AGENT_ID').sum()

In [63]:
low_performing_agents = Agent_grouped_data[Agent_grouped_data['CLAIM_AMOUNT']<=lower_5percentile_limit][['CLAIM_AMOUNT']]

In [64]:
print(low_performing_agents)

            CLAIM_AMOUNT
AGENT_ID
AGENT00006         22400
AGENT00014          7400
AGENT00016         27000
AGENT00085         25700
AGENT00088         27700
AGENT00091         30000
AGENT00098         28200
AGENT00134         22000
AGENT00149         28900
AGENT00156         13200
AGENT00172         22200
AGENT00185         16100
AGENT00186         27700
AGENT00188         28400
AGENT00197         18500
AGENT00252         20000
AGENT00263         11500
AGENT00275         16200
AGENT00279         28000
AGENT00300         12600
AGENT00310         28800
AGENT00316         22200
AGENT00351         21700
AGENT00425         17800
AGENT00442         30300
AGENT00536         20000
AGENT00562         21100
AGENT00571         24200
AGENT00585         16600
AGENT00590         22200
AGENT00604          5500
AGENT00621          5300
AGENT00628          6100
AGENT00672         21300
AGENT00689         13700
AGENT00706         10800
AGENT00721          9000
AGENT00732         11300
AGENT00773         15000
AGENT00780         11300
AGENT00790          6000
AGENT00804         20000
AGENT00805         22600
AGENT00830         23500
AGENT00841         17800
AGENT00856         24200
AGENT00894         27600
AGENT00910         15500
AGENT00969         28300
AGENT00985         30000
AGENT01021         24300
AGENT01037          5600
AGENT01052         28000
AGENT01077          4200
AGENT01107         24700
AGENT01128         28000
AGENT01131         27500
AGENT01151         28000
AGENT01154           800
AGENT01179         27300

In [ ]:
"""
Task 12
Business wants to find all Suspicious Employees (Agents).
IF TOTAL CLAIM AMOUNT which meet below criteria is >= 15000 THEN AGENT is classified as Suspicious 
ELSE Not CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High AND INCIDENT_SEVERITY = “Major Loss”
If Suspicious, then 1 ELSE 0. Find mean of this column.
"""

In [65]:
criteria = (view['CLAIM_STATUS']=='A')&(view['RISK_SEGMENTATION']=='H')&(view['INCIDENT_SEVERITY']=='Major Loss')

In [66]:
criteriamet = view[criteria]

In [67]:
grouped_suspicious_data = criteriamet.groupby('AGENT_ID').sum()

In [68]:
suspicious_agents = list(grouped_suspicious_data[grouped_suspicious_data['CLAIM_AMOUNT']>=15000].index)

In [69]:
print(employee_data)

        AGENT_ID         AGENT_NAME DATE_OF_JOINING  \
0     AGENT00001          Ray Johns      05-06-1993
1     AGENT00002      Angelo Borjon      27-12-2005
2     AGENT00003     Candy Spellman      02-09-2003
3     AGENT00004         Mary Smith      23-09-2004
4     AGENT00005       Mildred Diaz      21-06-2011
...          ...                ...             ...
1195  AGENT01196     Myrtle Mccatty      14-09-2005
1196  AGENT01197        John Dorsey      04-12-1993
1197  AGENT01198        Ruth Bigbee      05-09-1993
1198  AGENT01199     Tommie Camacho      25-10-2004
1199  AGENT01200  Virginia Stachura      25-05-1999

                         ADDRESS_LINE1 ADDRESS_LINE2              CITY STATE  \
0                     1402 Maggies Way           NaN  Waterbury Center    VT
1                       414 Tanya Pass           NaN       Panama City    FL
2                  606 National Street          #306      Fayetteville    AR
3                235 Hugh Thomas Drive           NaN       Panama City    FL
4                3426 Broadview Street           NaN        Montgomery    AL
...                                ...           ...               ...   ...
1195  3553 Brandywine Street Northwest           NaN        Washington    DC
1196              2315 Chestnut Street           NaN        Montgomery    AL
1197            1983 Reidsville Street           NaN         Annapolis    MD
1198                  5821 Taft Street           NaN            Arvada    CO
1199                   3579 2nd Avenue           NaN         Edgewater    MD

      POSTAL_CODE  EMP_ROUTING_NUMBER     EMP_ACCT_NUMBER
0            5677            34584958  HKUN51252328472585
1           32404           107363763  OPIS19290040088204
2           72701            81744097  YSCJ67489688482590
3           32404            67563771  ZANG21285355574581
4           36110           114951317  DZFS82244494451134
...           ...                 ...                 ...
1195        20008            32137938  EWBR19907574832501
1196        36107            70796687  KGEJ74846009867837
1197        21401           124993912  RASV88064214164820
1198        80004            19424059  UOFO11656245339211
1199        21037            12226940  ALYY24945545778511

[1200 rows x 10 columns]

In [70]:
employee_data['SUSPICIOUS'] = 0

In [71]:
suspicious_employee_slice = employee_data['AGENT_ID'].isin(suspicious_agents)

In [72]:
employee_data.loc[suspicious_employee_slice,'SUSPICIOUS']=1

In [73]:
print(employee_data['SUSPICIOUS'].mean())

0.12416666666666666

In [ ]:
# The mean of suspicious column is (0.124167) that means from all employees (12.42%) are suspicious.